*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//remove default anchor tag styling
a {
  text-decoration: none;
  color: inherit;
}

// remove default list styling
ul,
li {
  list-style: none;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  overflow-x: hidden;
  &::-webkit-scrollbar {
    // -webkit-appearance: none;
    width: 0.5rem;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: darken($color: #007892, $amount: 0);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }
}

textarea,
select,
input,
button {
  outline: none;
  border: 0;
}

image {
}

select::-ms-expand {
  display: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

select {
  background-color: transparent;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

@media only screen and (max-width: 954px) {
  html {
    font-size: 60%;
  }
}
